body {
  font-family: 'Noto Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0px;
  background-color: #979797;
}

button {
  padding: 8px;
  margin: 6px;
  border: none;
  background-color: #206298;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 20px;
}

button:hover {
  background-color: #2c74af;
}

dialog {
  background-color: #f0f0f0;
  border: 3px solid #494949;
  border-radius: 6px;
  text-align: center;
  font-size: 22px;
  box-shadow: 7px 7px 10px -4px rgba(0, 0, 0, 0.45);
}

.column {
  display: flex;
  flex-direction: column;
  height: 99vh;
  max-height: 99vh;
}

/* rotate animation */
.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  line-height: 20px;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active {
  background-color: rgb(29, 139, 15);
}

.inactive {
  background-color: #494949;
}

.pill {
  border-radius: 99px;
  padding: 5px 12px;
  margin: 5px;
  background-color: #cdcdcd;
  display: inline-block;
  cursor: de;
}

#toolbar {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 10px;
}

#fileList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #bebebe;
  margin: 0px 10px;
  border: #6c6c6c 2px solid;
  overflow-y: auto;
}

#fileList li {
  cursor: pointer;
  color: #242424;
  padding: 4px;
  padding-left: 10px;
  white-space: nowrap;
}

#fileList li:nth-child(odd) {
  background-color: #cacaca;
}

#fileList li:hover {
  background-color: #7798b3;
  color: white;
}

.selected {
  background-color: #2c74af !important;
  color: white !important;
}

#wavContainer {
  padding: 0;
  margin: 0px 10px;
  height: 200px;
  min-height: 200px;
  margin-top: 10px;
  position: relative;
  resize: vertical;
  overflow-x: auto;
}

canvas[x-ref='overlayCanvas'] {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: text;
}

canvas[x-ref='wavCanvas'] {
  position: absolute;
  background-color: black;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
